- Author: Maximiliano Lopez Salgado
- First Commit: 13.06.2023
- Last Commit: 13.06.2023
- Description: This notebook is used to perform EDA on the Brazilian E-commerce dataset

## Key Steps in Data Analysis:

1. **Framing the Question:** 
   - The first step towards any sort of data analysis is to ask the right question(s) from the given data. 
   - Identifying the objective of the analysis makes it easier to decide on the type(s) of data needed to draw conclusions.

2. **Data Wrangling:** 
   - Data wrangling, sometimes referred to as data munging or data pre-processing, is the process of gathering, assessing, and cleaning "raw" data into a form suitable for analysis.

3. **Exploratory Data Analysis (EDA):** 
   - Once the data is collected, cleaned, and processed, it is ready for analysis. 
   - During this phase, you can use data analysis tools and software to understand, interpret, and derive conclusions based on the requirements.

4. **Drawing Conclusions:** 
   - After completing the analysis phase, the next step is to interpret the analysis and draw conclusions. 
   - Three key questions to ask at this stage:
     - Did the analysis answer my original question?
     - Were there any limitations in my analysis that could affect my conclusions?
     - Was the analysis sufficient to support decision-making?

5. **Communicating Results:** 
   - Once data has been explored and conclusions have been drawn, it's time to communicate the findings to the relevant audience. 
   - Effective communication can be achieved through data storytelling, writing blogs, making presentations, or filing reports.

**Note:** The five steps of data analysis are not always followed linearly. The process can be iterative, with steps revisited based on new insights or requirements that arise during the analysis.

In [46]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import os

## 1. Data Wrangling

### 1.1 Gathering data

In [23]:
# import csv files 
customers = pd.read_csv('../datasets/olist_customers_dataset.csv')
geolocation = pd.read_csv('../datasets/olist_geolocation_dataset.csv')
order_items = pd.read_csv('../datasets/olist_order_items_dataset.csv')
order_payments = pd.read_csv('../datasets/olist_order_payments_dataset.csv')
order_reviews = pd.read_csv('../datasets/olist_order_reviews_dataset.csv')
orders_data = pd.read_csv('../datasets/olist_orders_dataset.csv')
products_dataset = pd.read_csv('../datasets/olist_products_dataset.csv')
sellers_data = pd.read_csv('../datasets/olist_sellers_dataset.csv')
product_category_name_translation = pd.read_csv('../datasets/product_category_name_translation.csv')

### 1.2 Assessing of Data

In [24]:
# take a look of the data´s shape
display(customers.shape)
display(geolocation.shape)
display(order_items.shape)
display(order_payments.shape)
display(order_reviews.shape)
display(orders_data.shape)
display(products_dataset.shape)
display(sellers_data.shape)
display(product_category_name_translation.shape)

(99441, 5)

(1000163, 5)

(112650, 7)

(103886, 5)

(99224, 7)

(99441, 8)

(32951, 9)

(3095, 4)

(71, 2)

In [25]:
# take a look of the data´s info
display(customers.info())
display(geolocation.info())
display(order_items.info())
display(order_payments.info())
display(order_reviews.info())
display(orders_data.info())
display(products_dataset.info())
display(sellers_data.info())
display(product_category_name_translation.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

None

In [26]:
# take a look of the data´s head
display(customers.head())
display(geolocation.head())
display(order_items.head())
display(order_payments.head())
display(order_reviews.head())
display(orders_data.head())
display(products_dataset.head())
display(sellers_data.head())
display(product_category_name_translation.head())

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [27]:
# search for NULL values
display(customers.isnull().sum())
display(geolocation.isnull().sum())
display(order_items.isnull().sum())
display(order_payments.isnull().sum())
display(order_reviews.isnull().sum())
display(orders_data.isnull().sum())
display(products_dataset.isnull().sum())
display(sellers_data.isnull().sum())
display(product_category_name_translation.isnull().sum())

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

product_category_name            0
product_category_name_english    0
dtype: int64

In [28]:
# check the type of information that every column has
display(customers.dtypes)
display(geolocation.dtypes)
display(order_items.dtypes)
display(order_payments.dtypes)
display(order_reviews.dtypes)
display(orders_data.dtypes)
display(products_dataset.dtypes)
display(sellers_data.dtypes)
display(product_category_name_translation.dtypes)

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

product_category_name            object
product_category_name_english    object
dtype: object

### 1.3 Data Cleaning

### 1.3.1  Remove irrelevant data

In [29]:
# remove irrelevant data in the review ID column. In this case, we don't know we will drop the colums that have more null values
order_reviews = order_reviews.drop(columns=['review_comment_title', 'review_comment_message'])

### 1.3.2  Remove null values

#### 1.3.2.1 Orders_data dataset

In [30]:
# calculate the mean of the columns with missing values 
# check datatype of the columns (they need to be in this case datime type)
display(orders_data['order_approved_at'].dtype)                 #---dtype('0')
display(orders_data['order_delivered_carrier_date'].dtype)      #---dtype('0')
display(orders_data['order_delivered_customer_date'].dtype)     #---dtype('0')

#transform the columns into datetime type
orders_data['order_approved_at'] = pd.to_datetime(orders_data['order_approved_at'])
orders_data['order_delivered_carrier_date'] = pd.to_datetime(orders_data['order_delivered_carrier_date'])
orders_data['order_delivered_customer_date'] = pd.to_datetime(orders_data['order_delivered_customer_date'])

dtype('O')

dtype('O')

dtype('O')

In [31]:
display(orders_data['order_approved_at'].dtype)                 #---now they are dtype('<M8[ns]')
display(orders_data['order_delivered_carrier_date'].dtype)      #---now they are dtype('<M8[ns]')
display(orders_data['order_delivered_customer_date'].dtype)     #---now they are dtype('<M8[ns]')

dtype('<M8[ns]')

dtype('<M8[ns]')

dtype('<M8[ns]')

Note: In pandas, dtype('<M8[ns]') is an internal representation for datetime data. The '<M8[ns]' part indicates that the data type is a datetime (<M8) with nanosecond precision ([ns]). It is equivalent to datetime64[ns], which is the more commonly used representation for datetime data in pandas.

In [32]:
# calculate the mean of this columns
mean_approved_at = orders_data['order_approved_at'].mean()
mean_order_delivered_carrier_date = orders_data['order_delivered_carrier_date'].mean()
mean_order_delivered_customer_date = orders_data['order_delivered_customer_date'].mean()

display(mean_approved_at)
display(mean_order_delivered_carrier_date)
display(mean_order_delivered_customer_date)

Timestamp('2017-12-31 18:35:24.098800128')

Timestamp('2018-01-04 21:49:48.138278656')

Timestamp('2018-01-14 12:09:19.035542272')

In [33]:
# imput the corresponding values to the null values in this columns with the mean
orders_data['order_approved_at'].fillna(mean_approved_at, inplace=True)
orders_data['order_delivered_carrier_date'].fillna(mean_order_delivered_carrier_date, inplace=True)
orders_data['order_delivered_customer_date'].fillna(mean_order_delivered_customer_date, inplace=True)

In [34]:
# check if null values exist in order_data dataset
orders_data.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

#### 1.3.2.2 Products_dataset dataset

In [35]:
# calculate the mean of the columns with missing values 
# check datatype of the columns (they need to be in this case datime type)
display(products_dataset['product_category_name'].dtype)                 
display(products_dataset['product_name_lenght'].dtype)      
display(products_dataset['product_description_lenght'].dtype)    
display(products_dataset['product_photos_qty'].dtype)
display(products_dataset['product_weight_g'].dtype)
display(products_dataset['product_length_cm'].dtype)
display(products_dataset['product_height_cm'].dtype)
display(products_dataset['product_width_cm'].dtype)

dtype('O')

dtype('float64')

dtype('float64')

dtype('float64')

dtype('float64')

dtype('float64')

dtype('float64')

dtype('float64')

In [36]:
# calculate the mean of this columns
# mean_product_category_name = products_dataset['product_category_name'].mean()  -----string type. not applyable for mean calculation
mean_product_name_lenght = products_dataset['product_name_lenght'].mean()
mean_product_description_lenght = products_dataset['product_description_lenght'].mean()
mean_product_photos_qty = products_dataset['product_photos_qty'].mean()
mean_product_weight_g = products_dataset['product_weight_g'].mean()
mean_product_length_cm = products_dataset['product_length_cm'].mean()
mean_product_height_cm = products_dataset['product_height_cm'].mean()
mean_product_width_cm = products_dataset['product_width_cm'].mean()

In [37]:
# imput the corresponding values to the null values in this columns with the mean
products_dataset['product_name_lenght'].fillna(mean_product_name_lenght, inplace=True)
products_dataset['product_description_lenght'].fillna(mean_product_description_lenght, inplace=True)
products_dataset['product_photos_qty'].fillna(mean_product_photos_qty, inplace=True)
products_dataset['product_weight_g'].fillna(mean_product_weight_g, inplace=True)
products_dataset['product_length_cm'].fillna(mean_product_length_cm, inplace=True)
products_dataset['product_height_cm'].fillna(mean_order_delivered_customer_date, inplace=True)
products_dataset['product_width_cm'].fillna(mean_product_width_cm, inplace=True)

In [38]:
# check if null values exist in order_data dataset
products_dataset.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght             0
product_description_lenght      0
product_photos_qty              0
product_weight_g                0
product_length_cm               0
product_height_cm               0
product_width_cm                0
dtype: int64

### 1.3.3 Drop the duplicates, if any

Use duplicate() function to find duplicated data in the datasets

In [39]:
# Find duplicates based on all columns
display(customers[customers.duplicated()].sum())
# display(geolocation[geolocation.duplicated()]) ----we are going to work with this df below
display(order_items[order_items.duplicated()].sum())
display(order_payments[order_payments.duplicated()].sum())
display(order_reviews[order_reviews.duplicated()].sum())
display(orders_data[orders_data.duplicated()].sum())
display(products_dataset[products_dataset.duplicated()].sum())
display(sellers_data[sellers_data.duplicated()].sum())
display(product_category_name_translation[product_category_name_translation.duplicated()].sum())

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

review_id                  0.0
order_id                   0.0
review_score               0.0
review_creation_date       0.0
review_answer_timestamp    0.0
dtype: float64

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_27921/3052918050.py:7: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display(orders_data[orders_data.duplicated()].sum())

order_id                         0.0
customer_id                      0.0
order_status                     0.0
order_purchase_timestamp         0.0
order_estimated_delivery_date    0.0
dtype: float64

product_id                    0.0
product_category_name         0.0
product_name_lenght           0.0
product_description_lenght    0.0
product_photos_qty            0.0
product_weight_g              0.0
product_length_cm             0.0
product_height_cm             0.0
product_width_cm              0.0
dtype: float64

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

product_category_name            0.0
product_category_name_english    0.0
dtype: float64

In [40]:
# drop duplicates in geolocation 
geolocation = geolocation.drop_duplicates()

In [41]:
# check if there are any duplicates
# Find duplicates based on all columns
display(customers[customers.duplicated()].sum())
display(geolocation[geolocation.duplicated()])
display(order_items[order_items.duplicated()].sum())
display(order_payments[order_payments.duplicated()].sum())
display(order_reviews[order_reviews.duplicated()].sum())
display(orders_data[orders_data.duplicated()].sum())
display(products_dataset[products_dataset.duplicated()].sum())
display(sellers_data[sellers_data.duplicated()].sum())
display(product_category_name_translation[product_category_name_translation.duplicated()].sum())

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state]
Index: []

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

review_id                  0.0
order_id                   0.0
review_score               0.0
review_creation_date       0.0
review_answer_timestamp    0.0
dtype: float64

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_27921/2410949325.py:8: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  display(orders_data[orders_data.duplicated()].sum())

order_id                         0.0
customer_id                      0.0
order_status                     0.0
order_purchase_timestamp         0.0
order_estimated_delivery_date    0.0
dtype: float64

product_id                    0.0
product_category_name         0.0
product_name_lenght           0.0
product_description_lenght    0.0
product_photos_qty            0.0
product_weight_g              0.0
product_length_cm             0.0
product_height_cm             0.0
product_width_cm              0.0
dtype: float64

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

product_category_name            0.0
product_category_name_english    0.0
dtype: float64

### 1.3.4 Type conversion

Make sure numbers are stored as numerical data types. A date should be stored as a date object, or a Unix timestamp (number of seconds, and so on).
In this case we already did this.

### 1.3.4 Syntax Errors

There are no syntax errors here, but it is something you should always check.

### 1.3.5 Outliers

They are values that are significantly different from all other observations. Any data value that lies more than (1.5 * IQR) away from the Q1 and Q3 quartiles is considered an outlier.

In general, an e-commerce dataset obtained from a well-functioning system is less likely to have outliers compared to datasets that involve manual data entry or measurement errors. E-commerce datasets typically capture transactional information, such as customer details, product information, and order-related data, which are less prone to outliers.

However, it's still possible to have outliers in certain scenarios, such as:

Data entry errors: Although automated systems minimize data entry errors, there can still be instances where incorrect or extreme values are recorded.

Measurement errors: If the dataset includes measurements or quantitative data collected manually, there may be measurement errors leading to outliers.

System glitches or anomalies: While rare, system glitches or anomalies can occasionally result in outliers in the data.

Fraudulent activities: In some cases, fraudulent transactions or activities may introduce outliers into the dataset.

Therefore, while it's reasonable to assume that the occurrence of outliers in an e-commerce dataset is relatively low, it's still advisable to examine the data and apply outlier detection techniques to ensure data quality and integrity.

Remember that outlier detection is an iterative process, and there is no one-size-fits-all approach. It requires a combination of domain knowledge, data understanding, and experimentation to determine the most suitable method and threshold for your specific dataset and analysis objectives.

In [42]:
dataframes = [customers, order_items, order_payments, order_reviews,
              orders_data, products_dataset, sellers_data,
              product_category_name_translation]

for df in dataframes:
    # Identify numerical columns
    numerical_columns = df.select_dtypes(include=np.number).columns

    # Define percentiles for outlier detection (e.g., values outside [5th percentile, 95th percentile])
    lower_percentile = 5
    upper_percentile = 95

    for column in numerical_columns:
        # Calculate percentiles for the column
        lower_threshold = np.percentile(df[column], lower_percentile)
        upper_threshold = np.percentile(df[column], upper_percentile)

        # Find rows with outliers in the column
        outlier_rows = (df[column] < lower_threshold) | (df[column] > upper_threshold)

        # Print rows with outliers in the column
        print(df[outlier_rows])
        print('\n')

                            customer_id                customer_unique_id  \
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
14     1f1c7bf1c9b041b292af6c1c4470b753  3151a81801c8386361b62277d7fa5ecf
37     54f755c3fd2709231f9964a1430c5218  40febde16f4718a5def537786473b0be
61     03f846ad03437d864a8d2a22976dcafe  7677c213007e9a6ec9267ea50b5ce5bc
62     de4e13fd7d6469c5ada77d0843c55e42  0c17f9ac28cbd7323f0f4043e9db5907
...                                 ...                               ...
99408  f6c6d3e1e20969a5eed982163f959719  fb354969e06f2093c0083cbfbb91864e
99412  6fb4f2354f36e554ac80141e9128f528  3cc6f2e1b9199837fabb35ff4bf24884
99423  c6ece8a5137f3c9c3a3a12302a19a2ac  aaf22868003377e859049dcf5f0b3fdf
99431  be842c57a8c5a62e9585dd72f22b6338  ca186065de6e2d01cfc99763e6d62048
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e

       customer_zip_code_prefix  customer_city customer_state
2                          1151      sao paulo             SP
14                        95110  caxias do sul             RS
37                        93415  novo hamburgo             RS
61                         2075      sao paulo             SP
62                        96015        pelotas             RS
...                         ...            ...            ...
99408                      1521      sao paulo             SP
99412                     99043    passo fundo             RS
99423                      1323      sao paulo             SP
99431                     99150          marau             RS
99439                     92120         canoas             RS

[9933 rows x 5 columns]


                                order_id  order_item_id  \
34      00143d0f86d6fbd9f9b38ab440ac16f5              3
44      001ab0a7578dd66cd4b0a71f5b6e1e41              3
139     00526a9d4ebde463baee25f386963ddc              3
140     00526a9d4ebde463baee25f386963ddc              4
153     005d9a5423d47281ac463a968b3936fb              3
...                                  ...            ...
112536  ffb9a9cd00c74c11c24aa30b3d78e03b              4
112576  ffd6f465cab015b452d398ac1f5d978a              3
112617  ffecd5a79a0084f6a592288c67e3c298              3
112642  fffb9224b6fc7c43ebb0904318b10b5f              3
112643  fffb9224b6fc7c43ebb0904318b10b5f              4

                              product_id                         seller_id  \
34      e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
44      0b0172eb0fd18479d29c3bc122c058c2  5656537e588803a555b8eb41f07a944b
139     0c4a0f8ab44f9acd2d04e7024f9ba362  7210cd29727d674c00741e5e387b3ccd
140     0c4a0f8ab44f9acd2d04e7024f9ba362  7210cd29727d674c00741e5e387b3ccd
153     4c3ae5db49258df0784827bdacf3b396  d98eec89afa3380e14463da2aabaea72
...                                  ...                               ...
112536  3321ad579f19476d0d668f726f8dffec  da8622b14eb17ae2831f4ac5b9dab84a
112576  fdcf45aa23bb8312ecc0027d6e1ef1c4  113e3a788b935f48aad63e1c41dac1bd
112617  50fd2b788dc166edd20512370dac54df  8b321bb669392f5163d04c59e235e066
112642  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9
112643  43423cdffde7fda63d0414ed38c11a73  b1fc4f64df5a0e8b6913ab38803c57a9

        shipping_limit_date   price  freight_value
34      2017-10-20 16:07:52   21.33          15.10
44      2018-01-04 02:33:42   24.89          17.63
139     2018-08-14 22:15:22   33.89           8.40
140     2018-08-14 22:15:22   33.89           8.40
153     2017-10-24 12:28:16   24.99          13.58
...                     ...     ...            ...
112536  2017-03-22 17:20:21  219.90          22.18
112576  2018-05-03 09:30:37    7.84          22.06
112617  2018-03-05 20:15:27   21.90          15.79
112642  2017-11-03 02:55:58   55.00          34.19
112643  2017-11-03 02:55:58   55.00          34.19

[4181 rows x 7 columns]


                                order_id  order_item_id  \
3       00024acbcdf0a6daa1e931b038114c75              1
7       000576fe39319847cbb9d288c5617fa6              1
16      0009c9a17f916a706d71784483a5d643              1
30      00137e170939bba5a3134e2386413108              1
35      0014ae671de39511f7575066200733b7              1
...                                  ...            ...
112576  ffd6f465cab015b452d398ac1f5d978a              3
112583  ffdab5e1596138d37793566aa1424d0c              1
112632  fff7c4452f050315db1b3f24d9df5fcd              1
112638  fffb0b1a50e65c449020434fa835e078              1
112646  fffcd46ef2263f404302a634eb57f7eb              1

                              product_id                         seller_id  \
3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
7       557d850972a7d6f792fd18ae1400d9b6  5996cddab893a4652a15592fb58ab8db
16      3f27ac8e699df3d300ec4a5d8c5cf0b2  fcb5ace8bcc92f75707dc0f01a27d269
30      672e757f331900b9deea127a2a7b79fd  e59aa562b9f8076dd550fcddf0e73491
35      23365beed316535b4105bd800c46670e  92eb0f42c21942b6552362b9b114707d
...                                  ...                               ...
112576  fdcf45aa23bb8312ecc0027d6e1ef1c4  113e3a788b935f48aad63e1c41dac1bd
112583  f0fad8c5dfa2549bff0ca38e82823cf5  7b0df942f46435babab05d49b744b2c4
112632  dd469c03ad67e201bc2179ef077dcd48  7e93a43ef30c4f03f38b393420bc753a
112638  e7be84ea9462aac5e2b0b08eb35ba7f1  36a968b544695394e4e9d7572688598f
112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182

        shipping_limit_date   price  freight_value
3       2018-08-15 10:10:18   12.99          12.79
7       2018-07-10 12:30:45  810.00          70.75
16      2018-05-02 09:31:53  639.00          11.34
30      2017-11-30 06:30:55  397.00          24.65
35      2017-05-29 03:15:24   16.50          14.10
...                     ...     ...            ...
112576  2018-05-03 09:30:37    7.84          22.06
112583  2017-05-09 11:31:10  399.85          18.50
112632  2017-06-07 17:05:23  736.00          20.91
112638  2017-04-28 16:45:12    4.90          10.96
112646  2018-07-20 04:31:48  350.00          36.53

[11076 rows x 7 columns]


                                order_id  order_item_id  \
7       000576fe39319847cbb9d288c5617fa6              1
73      002b430ff89b3a24c31a1170acbbedea              1
81      002f98c0f7efd42638ed6100ca699b42              2
83      0030ff924c38549807645976adeef2c0              1
98      0036757472ece3dde52fd4bfd929c90e              1
...                                  ...            ...
112613  ffebd80e3291e811c308365936897efd              1
112614  ffec1a6d35149778ec575d5048d44db8              1
112624  fff0db5573c78c1cb5a2b68a2bbd8d4a              1
112634  fff8287bbae429a99bb7e8c21d151c41              1
112635  fff8287bbae429a99bb7e8c21d151c41              2

                              product_id                         seller_id  \
7       557d850972a7d6f792fd18ae1400d9b6  5996cddab893a4652a15592fb58ab8db
73      cc47c0863559499f01b4cad750929d10  7a67c85e85bb2ce8582c35f2203ad736
81      880be32f4db1d9f6e2bec38fb6ac23ab  fa40cc5b934574b62717c68f3d678b6d
83      bd7cab8de4d7943286634023cc06f8ff  855668e0971d4dfd7bef1b6a4133b41b
98      4c1bbc12438daec98a77243c2bf7a3ba  7c67e1448b00f6e969d365cea6b010ab
...                                  ...                               ...
112613  4cc4d02efc8f249c13355147fb44e34d  d1c7fa84e48cfa21a0e595167c1c500e
112614  437c05a395e9e47f9762e677a7068ce7  f84fa566034f5e8e880a07ec624c56af
112624  681953ccd5c33207d75571a4bfbe127d  777a0c55737f34ffeb78010f7542ab41
112634  bee2e070c39f3dd2f6883a17a5f0da45  4e922959ae960d389249c378d1c939f5
112635  bee2e070c39f3dd2f6883a17a5f0da45  4e922959ae960d389249c378d1c939f5

        shipping_limit_date   price  freight_value
7       2018-07-10 12:30:45  810.00          70.75
73      2017-06-26 22:10:14  199.99          65.56
81      2017-08-10 09:30:15   44.90           7.16
83      2018-04-06 17:10:21  225.00          67.24
98      2018-08-08 15:10:11  136.99          66.04
...                     ...     ...            ...
112613  2018-07-18 20:23:55  129.90          51.20
112614  2018-03-28 02:49:46   47.65           7.39
112624  2018-07-03 09:31:23   69.95           7.75
112634  2018-03-27 12:29:22  180.00          48.14
112635  2018-03-27 12:29:22  180.00          48.14

[10239 rows x 7 columns]


                                order_id  payment_sequential payment_type  \
25      5cfd514482e22bc992e7693f0e3e8df7                   2      voucher
75      3689194c14ad4e2e7361ebd1df0e77b0                   2      voucher
102     21b8b46679ea6482cbf911d960490048                   2      voucher
121     ea9184ad433a404df1d72fa0a8764232                   4      voucher
139     82ffe097d8ddbf319a523b9bbe7725d5                   2      voucher
...                                  ...                 ...          ...
103569  fedcd9f7ccdc8cba3a18defedd1a5547                   6      voucher
103732  f0a5b7c94819c69d12a1c0458ec74756                   2      voucher
103747  cf101c3abd3c061ca9f78c1bbb1125af                   3      voucher
103750  d0bff47153ef056bb4f884a2ec2f0691                   2      voucher
103860  31bc09fdbd701a7a4f9b55b5955b8687                   6      voucher

        payment_installments  payment_value
25                         1          45.17
75                         1          57.53
102                        1          43.12
121                        1          22.49
139                        1          30.00
...                      ...            ...
103569                     1           8.60
103732                     1          80.40
103747                     1           8.46
103750                     1          41.89
103860                     1          77.99

[4526 rows x 5 columns]


                                order_id  payment_sequential payment_type  \
195     02951078a21a2d9341ea16089a4d5031                   1  credit_card
278     56ba89857b4e6eb192108f310a81163b                   1  credit_card
493     0b3d8a1bbaa4e340e25adfd640f70308                   1  credit_card
1389    ea9f37dbd83c492fc3b37d6b9e6441ad                   1  credit_card
1446    d189540593578f8076e6cf12e73a8eb8                   1  credit_card
...                                  ...                 ...          ...
102008  f60ce04ff8060152c83c7c97e246d6a8                   1  credit_card
102435  e02d61b42452cc6737650331d8bc8ad7                   1  credit_card
102802  18f4834a46d0ab990c2e0b565fdf646c                   1  credit_card
103051  482538374ee64ae910d1c2e2d7d58f28                   1  credit_card
103219  35133d30b32f389949394cf5ce8ab03e                   1  credit_card

        payment_installments  payment_value
195                       12         257.10
278                       13         197.23
493                       12         190.09
1389                      12         123.69
1446                      12         172.23
...                      ...            ...
102008                    24        1440.10
102435                    24         515.70
102802                    15         322.96
103051                    11         129.22
103219                    16         167.37

[343 rows x 5 columns]


                                order_id  payment_sequential payment_type  \
1       a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
26      d0a945f85ba1074b60aac97ade7e240e                   1  credit_card
30      f45074ae38f2e01d9b854ec8d40362ff                   1  credit_card
52      2e2c60b99754ae1e4d8b18846cfec9f2                   1  credit_card
73      110d9355d6338eab0a65a0cacdde5434                   1  credit_card
...                                  ...                 ...          ...
103783  4198c92e06d92792e49f119f659e723e                   1  credit_card
103792  0f121110b75ef7c38c79d67833c49830                   1  credit_card
103814  df8ab61cb615d551483618533aceb364                   1  credit_card
103817  6d4616de4341417e17978fe57aec1c46                   1  credit_card
103874  d41f1036712e18ee525939d08b7a1c98                   1  credit_card

        payment_installments  payment_value
1                          1          24.39
26                         2         541.00
30                         1          13.78
52                         4         542.66
73                         5         566.40
...                      ...            ...
103783                    10        1294.26
103792                    10         956.86
103814                    10         713.65
103817                     1          19.18
103874                     1           3.57

[10390 rows x 5 columns]


Empty DataFrame
Columns: [review_id, order_id, review_score, review_creation_date, review_answer_timestamp]
Index: []


                             product_id product_category_name  \
3      cef67bcfe19066a932b7673e239eb23d                 bebes
15     3bb7f144022e6732727d8d838a7b13b3         esporte_lazer
20     1c1890ba1779090cd54008a3c3302921      moveis_decoracao
21     518ef5de2c2b3a255e326a4594ba15d9       cama_mesa_banho
40     8b3a9476f74f5297f7ff0ec6d95fe1ea      moveis_decoracao
...                                 ...                   ...
32912  ca977202f2d5bc9cfdc368d305e460b8         esporte_lazer
32914  07ae32b18ffbde7c6c928721e8b956fb         esporte_lazer
32917  4419a003d42a243227478f2a949722d8          beleza_saude
32941  6ec96c91757fad0aecafc0ee7f262dcc                 bebes
32942  16280ca280a86fee2ba3c928ed04439f      moveis_decoracao

       product_name_lenght  product_description_lenght  product_photos_qty  \
3                     27.0                       261.0                 1.0
15                    22.0                      3021.0                 1.0
20                    27.0                       158.0                 4.0
21                    27.0                       329.0                 2.0
40                    63.0                       254.0                 2.0
...                    ...                         ...                 ...
32912                 26.0                       715.0                 1.0
32914                 28.0                       315.0                 1.0
32917                 27.0                      1026.0                 2.0
32941                 62.0                      1417.0                 1.0
32942                 64.0                       236.0                11.0

       product_weight_g  product_length_cm product_height_cm  product_width_cm
3                 371.0               26.0               4.0              26.0
15                800.0               16.0               2.0              11.0
20               2550.0               29.0              24.0              45.0
21                800.0               36.0               8.0              16.0
40               2050.0               49.0              13.0              41.0
...                 ...                ...               ...               ...
32912             397.0               18.0              17.0              17.0
32914            3200.0               80.0              12.0              25.0
32917             850.0               25.0               6.0              21.0
32941            9550.0               36.0              35.0              35.0
32942            2200.0               31.0              11.0              26.0

[2322 rows x 9 columns]


                             product_id product_category_name  \
13     7bb6f29c2be57716194f96496660c7c2      moveis_decoracao
15     3bb7f144022e6732727d8d838a7b13b3         esporte_lazer
50     5eaa343860dc445b3fd43d1b682809fd         esporte_lazer
61     4e04ffb7dd3739ecfc37de8927dd586c             papelaria
64     dc21247da0290904ffbbcd5953c76f95             papelaria
...                                 ...                   ...
32906  7d1a667dbc183583078324f912d42c6b         esporte_lazer
32911  f9bb291280bceedf7840b89e1e75b89c      moveis_decoracao
32913  7f0c916c7cb73601e0a606a3c23a90d6            brinquedos
32918  2636a9812d151c718b53387171ce08be          beleza_saude
32946  a0b7d5a992ccda646f2d34e418fff5a0      moveis_decoracao

       product_name_lenght  product_description_lenght  product_photos_qty  \
13                    51.0                      2083.0                 2.0
15                    22.0                      3021.0                 1.0
50                    53.0                      3218.0                 5.0
61                    59.0                       144.0                 1.0
64                    41.0                        92.0                 1.0
...                    ...                         ...                 ...
32906                 43.0                      2420.0                 1.0
32911                 57.0                       113.0                11.0
32913                 33.0                      2329.0                 1.0
32918                 52.0                      2088.0                 1.0
32946                 45.0                        67.0                 2.0

       product_weight_g  product_length_cm product_height_cm  product_width_cm
13                600.0               68.0              11.0              13.0
15                800.0               16.0               2.0              11.0
50               4800.0               60.0              30.0              15.0
61                500.0               24.0               7.0              16.0
64                100.0               16.0               5.0              16.0
...                 ...                ...               ...               ...
32906             150.0               16.0               6.0              11.0
32911            2400.0               40.0               8.0              35.0
32913             150.0               16.0              16.0              16.0
32918             443.0               21.0              13.0              17.0
32946           12300.0               40.0              40.0              40.0

[3292 rows x 9 columns]


                             product_id        product_category_name  \
31     e1d1d22e9f8122a4ec1533b032c12562           ferramentas_jardim
35     5370b82a213393979691c98074265584                        bebes
118    7f6308ba4057a6a740af7b4dcfb79c13                    telefonia
132    acd427ee119d5c71c7a85ae488cb0a6a  fashion_bolsas_e_acessorios
217    6e9c52b407fea24064f7ab2b144fbf8c                        bebes
...                                 ...                          ...
32879  c00d043237b75cf63c77a05c423af5c7                esporte_lazer
32902  b64f2210138a8d97888314420d066b5e        utilidades_domesticas
32911  f9bb291280bceedf7840b89e1e75b89c             moveis_decoracao
32933  6f79d50d852c044e3f7f0954d13aeacf             moveis_decoracao
32942  16280ca280a86fee2ba3c928ed04439f             moveis_decoracao

       product_name_lenght  product_description_lenght  product_photos_qty  \
31                    49.0                      1163.0                 9.0
35                    52.0                       708.0                 9.0
118                   63.0                      1930.0                 9.0
132                   52.0                        68.0                 7.0
217                   56.0                      1395.0                 7.0
...                    ...                         ...                 ...
32879                 55.0                      1340.0                 7.0
32902                 59.0                       981.0                 7.0
32911                 57.0                       113.0                11.0
32933                 53.0                       194.0                11.0
32942                 64.0                       236.0                11.0

       product_weight_g  product_length_cm product_height_cm  product_width_cm
31               2150.0               70.0               8.0              34.0

After performing outlier analysis we indentified that because of the nature of the info, there are not relevant outliers, althought numerically there are some that exists.

### 1.3.6 In-record & cross-datasets errors

These errors result from having two or more values in the same row or across datasets that contradict with each other. For example, if we have a dataset about the cost of living in cities. The total column must be equivalent to the sum of rent, transport, and food.

We havent found this kind of errors in the datasets.

## Export the cleaned data

In [52]:
# Specify the path to the dataset folder
folder_path = "../datasets/"

dataframes = [customers, order_items, order_payments, order_reviews,
              orders_data, products_dataset, sellers_data,
              product_category_name_translation]

file_names = ['customers.csv', 'order_items.csv', 'order_payments.csv',
              'order_reviews.csv', 'orders_data.csv', 'products_dataset.csv',
              'sellers_data.csv', 'product_category_name_translation.csv']

for df, file_name in zip(dataframes, file_names):
    # Add the prefix "cleaned_" to the file name
    cleaned_file_name = "cleaned_" + file_name
    # Get the full path of the output file
    output_file_path = os.path.join(folder_path, cleaned_file_name)
    # Save the cleaned DataFrame to CSV
    df.to_csv(output_file_path, index=False)